@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");

html,
body {
  margin: 0;
  height: 100%;
  font-family: "Kdam Thmor Pro", sans-serif;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/vaimo-mountains.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.user-form-container {
  width: 80%;
  max-width: 1200px;
  text-align: center;
  border: #333333 2px solid;
  border-radius: 8px;
  box-shadow: 1px 0px 20px rgba(151, 149, 149, 0.8),
    0px 10px 5px rgba(151, 149, 149, 0.1);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(99, 99, 99, 0.7);
  padding: 25px 15px 15px 15px;
}

.user-add-form {
  border-bottom: #fabf2b solid 1px;
  margin-bottom: 15px;
}

.title {
  margin: 0 0 25px;
  letter-spacing: 5px;
  text-shadow: -0.01em -0.01em 0.01em #000;
  text-shadow: 0em 0.01em white, 0em 0.02em white, 0em 0.02em 0.03em white,
    -0.01em 0.01em #333, -0.02em 0.02em #333, -0.03em 0.03em #333,
    -0.04em 0.04em #333, -0.01em -0.01em 0.03em #000,
    -0.02em -0.02em 0.03em #000, -0.03em -0.03em 0.03em #000;
}

.drivers-slider {
  max-width: 90%;
  margin: auto;
  padding: 22px 0;
}

.slick-prev:before,
.slick-next:before {
  color: #fabf2b;
}

.slick-dots li.slick-active button:before {
  color: #fabf2b;
}
.slick-dots li button:before {
  color: white;
  opacity: 0.5;
}

.driver-container {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.driver-img {
  max-height: 150px;
  max-width: 150px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  margin-top: 15px;
  cursor: pointer;
}

.driver-img:hover {
  transform: scale(1.1);
}

.driver-name {
  margin: 15px 0 0;
}

.driver-team {
  margin: 0;
}

.continue-btn-container {
  text-align: end;
}

input[type="text"] {
  font-family: "Kdam Thmor Pro", sans-serif;
  width: 180px;
  height: 35px;
  border-radius: 8px;
  text-shadow: -0.01em -0.01em 0.01em #000;
  background-color: #fabf2b;
  font-size: 14px;
  transition: all ease-in-out 0.15s;
  cursor: text;
  border: 2px solid #333333;
  padding-left: 10px;
  box-sizing: border-box;
}

input[type="text"]:focus {
  outline: none;
  background-color: #333333;
  color: #fabf2b;
  border-color: #fabf2b;
}

button {
  font-family: "Kdam Thmor Pro", sans-serif;
  width: 100px;
  height: 35px;
  border-radius: 8px;
  text-shadow: -0.01em -0.01em 0.01em #000;
  background-color: #fabf2b;
  font-size: 14px;
  transition: all ease-in-out 0.15s;
  cursor: pointer;
  border: 2px solid #333333;
}

button:hover {
  background-color: #333333;
  color: #fabf2b;
}

.add-user-btn {
  margin: 25px 0;
}

.driver-selected {
  border: 4px solid #fabf2b;
}

.driver-taken {
  opacity: 0.5;
  border: black 4px solid;
  transition: none;
  cursor: none;
  pointer-events: none;
}

.user-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.users-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 800px;
}

.user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  border-bottom: #fabf2b 1px solid;
  margin: 15px;
}

.user-img {
  max-height: 40px;
  max-width: 40px;
  border-radius: 50%;
}
